html,
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

#canvas {
  position: absolute;
  bottom: 0;
  height: 80%;
  z-index: 0;
}

.Paperstack01 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  bottom: 0;
}

.Paperstack02 {
  margin-left: 4.5rem;
  margin-right: 1.5rem;
  bottom: 0;
}
